<!DOCTYPE html>
<html>
<head>
	<!--- Not sure which of these I need, so I used them all --->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="../public/js/jquery.knob.js/jquery.knob.js"></script>
	<script>
		$(function($) {

                $(".knob").knob({
                    change: function (value) {
                        //console.log("change : " + value);
                    },
                    release: function (value) {
                        //console.log(this.$.attr('value'));
                        console.log("release : " + value);
                    },
                    cancel: function () {
                        console.log("cancel : ", this);
                    },/*format : function (value) {
                        return value + '%';
                    },*/
                    draw : function () {

                        // "tron" case
                        if(this.$.data('skin') == 'tron') {

                            this.cursorExt = 0.3;

                            var a = this.arc(this.cv)  // Arc
                                , pa                   // Previous arc
                                , r = 1;

                            this.g.lineWidth = this.lineWidth;

                            if (this.o.displayPrevious) {
                                pa = this.arc(this.v);
                                this.g.beginPath();
                                this.g.strokeStyle = this.pColor;
                                this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, pa.s, pa.e, pa.d);
                                this.g.stroke();
                            }

                            this.g.beginPath();
                            this.g.strokeStyle = r ?this.o.fgColor : this.fgColor ;
                            this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, a.s, a.e, a.d);
                            this.g.stroke();

                            this.g.lineWidth = 2;
                            this.g.beginPath();
                            this.g.strokeStyle = this.o.fgColor;
                            this.g.arc( this.xy, this.xy, this.radius - this.lineWidth + 1 + this.lineWidth * 2 / 3, 0, 2 * Math.PI, false);
                            this.g.stroke();

                            return false;
                        }
                    }

                });
		});
    </script>
	<style>
        body{
			  background: #ffffff url("../images/plain-background.jpg") no-repeat right top;
              padding: 0;
              margin: 0px 50px;
              font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
              font-weight: 300;
              text-rendering: optimizelegibility;
            }
            p{font-size: 30px; line-height: 30px}
            div.demo{text-align: center; width: 400px; height:300px; float: left}
            div.demo > p{font-size: 20px}
    </style>
  	<title>PiStat</title>
	
</head>

	<header>
  	<div class="wrap">
    	<!-- nav class is added here -->
		<div class="content nav">
	  		<!-- Site navigation menu -->
			<ul class="navbar">
  				<li><a href="index.html">Control Panel</a>
  				<li><a href="log.html">History</a>
			</ul>
	  	</div>
  	</div>
</header>

<body>




<!-- Main content -->


		<div class="container">


			<!--- JQuery Knob html with inline css copied from Jquery demo --->
			<div class="demo" style="width:100%">
				<div style="width: 50%;float: left">
            <p>Current Temperature:</p>
            <input class="knob" data-width="80%" data-min="55" data-max="90" data-step="1" data-displayPrevious=true value="55">

				</div>
				<div style="width: 50%;float: right">
            <p>Target Temperature:</p>
            <input class="knob" data-width="80%" data-min="55" data-max="90" data-step="1" data-displayPrevious=true value="55">

				</div>
			</div>
        	<div style="clear:both"></div>


	<div id='controls'>



        <div id = 'auxcontrols'>
			<label id = "climatestate"><span>Climate State: Heating</span></label><br>
            <Label id="doorlabel"><span>Door: Closed</span></Label><br>
			<Label id="tvlabel"><span>Television: Off</span></Label><br>
			<Label id="ovenlabel"><span>Oven: Off</span></Label><br>
			<Label id="microwavelabel"><span>microwave: Off</span></Label><br>
        </div>

			
	</div>

</div>






</body>
</html>