<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to PiStat!</title>
    <link rel="stylesheet" type="text/css" href="/public/css/temperature.css">
</head>
<body>

<div class="header">
    <div class="container">
        <div class="logo">
            <img src="/public/assets/images/PiStat.png"/>
        </div>

        <div class="nav">
            <ul>
                <li class="nav-button"><a href="/views/temperature.html">Temperature</a></li>
                <li class="nav-button"><a href="/views/door.html">Door</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="content-container">
    <div class="content">
        <!--- JQuery Knob html with inline css copied from Jquery demo --->
        <div class="demo" style="width:100%">
            <div style="width: 50%;float: left">
                <p>Current Temperature</p>
                <input class="cur_knob" data-width="80%" data-min="55" data-max="90" data-step="1"
                       data-displayPrevious=true
                       value="55">

            </div>
            <div style="width: 50%;float: right">
                <p>Target Temperature</p>
                <input class="des_knob" data-width="80%" data-min="55" data-max="90" data-step="1"
                       data-displayPrevious=true
                       value="55">

            </div>
        </div>
        <div style="clear:both"></div>


        <div id='controls'>


            <div id='auxcontrols'>
                <label id="climatestate"><span>Climate State: Heating</span></label><br>
                <Label id="doorlabel"><span>Door: Closed</span></Label><br>
                <Label id="tvlabel"><span>Television: Off</span></Label><br>
                <Label id="ovenlabel"><span>Oven: Off</span></Label><br>
                <Label id="microwavelabel"><span>microwave: Off</span></Label><br>
            </div>


        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="/public/css/header.css">
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/jquery-knob/js/jquery.knob.js"></script>
    <script src="/public/js/temp_observer.js"></script>
    <script src="/public/js/environment.js"></script>
    <script src="/public/js/simulator.js"></script>
    <script src="/public/js/knob_logic.js"></script>
</body>
</html>